@model IEnumerable<DomainModels.Product>
@{
    ViewData["Title"] = "ListOfProducts";
}
<div class="row">
    <div class="col-4">
        <div class="card mb-4" style="background-color:white">
            <div class="card-header bg-light">
                <h4 class="my-0 font-weight-normal">
                    <label style="font-size: 23px;color: steelblue">Products</label>
                </h4>
            </div>
            @foreach (var item in Model)
            {
                      
                <a class="btn btn-outline-info detailsBtn" data-Name="@item.Id">@item.Name (@item.Code)</a>
            }
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        @foreach (var item in Model)
        {
            <a class="btn btn-outline-info detailsBtn" id="@item.Id">@item.Name (@item.Code)</a>
        }
    </div>
    <div class="col-md-9">

    </div>
</div>
